/*body {*/
    /*background: #0147A7;*/
    /*color: #fff;*/
/*}*/
.navbar .link {
    float: right;
}

.cust-right {
    float: right;
}
.navbar .nav-custom {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 10px;
}

.form-control {
    height: 30px;
}

@media print {
    .nonPrintSection {
        visibility:hidden;
    }
    .printSection, .printSection * {
        visibility:visible;
    }
    .printSection {
        position:absolute;
        left:0;
        top:0;
    }
}