<div class="row">
    <h3>Employees List</h3>
    
    <div class="form-group">
        <form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">
            <input type="hidden" formControlName="eId" >
    
            <div class ="col-md-2">
                <label>Name </label>
                <input type="text" formControlName="name" class="form-control">
            </div>
            <div class ="col-md-2">
                <label>Department </label>
                <select formControlName="department" class="form-control">
                    <option *ngFor="let depart of departments" value="{{ depart.departId }}">{{ depart.departName }}</option>
                </select>
            </div>
            <div class ="col-md-2">
                <label>Phone </label>
                <input type="text" formControlName="phone" class="form-control">
            </div>
            <div class ="col-md-1">
                <label>Wage </label>
                <input type="text" formControlName="wage" class="form-control">
            </div>
            <div class ="col-md-1">
                <label>Tip(%) </label>
                <input type="text" formControlName="ratio" class="form-control">
            </div>
            <div class ="col-md-3">
                <br>
                <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                <button type="button" (click)="clearInput()" class="btn btn-info btn-sm">Clear</button>
                <button *ngIf ="editItem" type="button" (click)="deleteItem()" class="btn btn-danger btn-sm">Remove Item</button>
            </div>
        </form>
    </div>
</div>

<br>
<div class ="row">
    <table *ngIf="getEmpNumber() > 0" class ="table table-hover">
        <thead>
            <tr><th>Employee Name</th><th>Department</th><th>Phone</th><th>Wage</th><th>Tip Ratio(%)</th></tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees" (click)="empBtn( emp )">
                <ng-container *ngIf="emp.valid">
                    <td>{{ emp.empName }}</td>
                    <td>{{ getDepartName(emp.departId) }}</td>
                    <td>{{ emp.empPhone }}</td>
                    <td>{{ emp.getLatestWage().wage }}</td>
                    <td>{{ emp.ratio }}</td>
                    <!--<td>{{ // emp.wage }}</td>-->
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>


