<span *ngIf = "getUserName()">
    <label>Welcome {{ getUserName() }}</label>
    <button type="button" (click)="logout()">LogOut</button>
</span>
<form *ngIf = "!getUserName()" [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">

        <!--<span *ngIf="!viewname">-->
            <label>ID</label>
            <input type="text" formControlName="id">

            <label>Password</label>
            <input type="password" formControlName="password">

            <button type="submit">Submit</button>
        <!--</span>-->
</form>