
<h3>Review Salary</h3>
<div>

    <form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">
        <datepicker formControlName="date" (sendDate)="dateChanged($event)" [expanded]="true" class="warning"></datepicker>
        <!--<span *ngFor = "let val of zoneStr">-->
			<!--<label>{{ val }}</label>-->
			<!--<input type="text" formControlName= "{{ val }}" >-->
		<!--</span>-->

        <button type="submit">Submit</button>
        <!--<button type="button" (click)="clearInput()">Clear</button>-->
        <!--<button *ngIf ="editItem" type="button" (click)="deleteItem()">Remove Item</button>-->

    </form>
    <br>

    
        <!--jobsDates[job.date][job.departName][job.empName]['hours'] = hoursResult;-->
        <!--jobsPeople[job.empName][job.date][job.departName]['hours'] = hoursResult;-->
    <table>
    <div *ngFor="let date of jobsDates | mapToIterable">
        <tr>
        <p>{{ date.key }}</p>
        </tr>
        
        <div *ngFor="let dep of jobsDates[date.key] | mapToIterable">
            <tr>
            <p>{{ dep.key }}</p>
            </tr>
            <span *ngFor="let name of jobsDates[date.key][dep.key] | mapToIterable">
                <tr>
                {{ name.key }}
                <span *ngFor="let zone of jobsDates[date.key][dep.key][name.key] | mapToIterable">
                    <!--{{ zone.key }}:{{ zone.val }}-->
                </span>
                <br>
                </tr>
            </span>
        </div>

    </div>
    </table>
        <!--<tr *ngFor="let zone of timeZones | mapToIterable">-->
            <!--<td>{{ zone.key }}</td>-->
            <!--<td>{{ zone.val.zoneName}}</td>-->
            <!--<td>{{ zone.val.startT.timeStr }}</td>-->
            <!--<td>{{ zone.val.endT.timeStr }}</td>-->
        <!--</tr>-->

</div>
