<main>
	<h1>Schedule Management</h1>

	<!--<img src="../../../public/images/angular.png">-->
	<button (click)="addBtn()">Create New Schedule</button>
	<button *ngIf = "modeEdit" (click)="deleteJob()">Delete</button>
	

	<div>
		<form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">
			<datepicker formControlName="date" (sendDate)="dateChanged($event)" [expanded]="true" class="warning"></datepicker>

			<input type = "hidden" formControlName= "jobId">

			<label>Name </label>
			<select formControlName="name">
				<option *ngFor="let employee of employees">{{ employee.empId }},{{ employee.empName }}</option>
			</select>

			<label>Working Department </label>

			<select formControlName="department">
				<option *ngFor="let depart of departments">{{ depart.departName }}</option>
			</select>

			<label>Start Time </label>

			<select formControlName="startT">
				<option *ngFor="let time of timeTable">{{ time.timeStr }}</option>
			</select>

			<label>End Time </label>

			<select formControlName="endT">
				<option *ngFor="let time of timeTable">{{ time.timeStr }}</option>
			</select>


			<button type="submit">{{ btnName }}</button>
			
		</form>
	</div>
	<form>

	</form>
		<br>
		<schedule *ngIf="sJobs.length > 0" [sJobs]="sJobs" (sendJob)="selectJob($event)"></schedule>
</main>
<!--<pre>{{data | json}}</pre>-->