<main>
	<h1>Schedule Management</h1>

	<!--<img src="../../../public/images/angular.png">-->
	<!--<button (click)="addBtn()">Create New Schedule</button>-->
	<!--<button *ngIf = "modeEdit" (click)="deleteJob()">Delete</button>-->
	

	<div>
		<form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">

			<datepicker formControlName="date" (sendDate)="dateChanged($event)" [expanded]="true" class="warning"></datepicker>
			<input type = "hidden" formControlName= "jobId">

			<label>Name </label>
			<select formControlName="name">
				<ng-container *ngFor="let employee of employees">
					<option *ngIf="employee.valid" value="{{ employee.empId }}">{{ employee.empName }}</option>
				</ng-container>
			</select>
			
			<label>Working Department </label>

			<select formControlName="department">
				<ng-container *ngFor="let depart of departments">
					<option *ngIf="depart.valid">{{ depart.departName }}</option>
				</ng-container>
			</select>

			<label>Start Time </label>

			<select formControlName="startT">
				<option *ngFor="let time of timeTable">{{ time.timeStr }}</option>
			</select>

			<label>End Time </label>

			<select formControlName="endT">
				<option *ngFor="let time of timeTable">{{ time.timeStr }}</option>
			</select>

			<button type="submit">Submit</button>
			<button type="button" (click)="clearInput()">Clear</button>
			<button *ngIf ="editItem" type="button" (click)="deleteItem()">Remove Item</button>
		</form>
	</div>
		<br>
		<schedule *ngIf="sJobs.length > 0" [sJobs]="sJobs" (sendJob)="selectJob($event)"></schedule>
</main>
<!--<pre>{{data | json}}</pre>-->