<main>
    <h1>Employees List</h1>
    <!--<img src="../../../public/images/angular.png">-->
    <table>
        <tr *ngFor="let emp of employees">
            <td>{{ emp.empId }}</td>
            <td>{{ emp.empName }}</td>
            <td>{{ emp.departId }}</td>
            <td>{{ emp.empPhone }}</td>
            <td>{{ emp.wages.wage }}</td>

        </tr>


    </table>
</main>


<!--constructor(public empId: number,-->
<!--public empName: string,-->
<!--public departId: number,-->
<!--public empPhone?: string,-->
<!--public wage?: Wage[]){-->
