<main>
    <h1>Employees List</h1>
    <p>{{ Up() }}</p>
    <!--<img src="../../../public/images/angular.png">-->
    <table>
        <tr *ngFor="let emp of employees" (click)="empBtn(emp.empId)">
            <!--<td><input type="radio" name="id" value="{{ emp.empId }}"></td>-->
            <td>{{ emp.empName }}</td>
            <td>{{ getDepartName(emp.departId) }}</td>
            <td>{{ emp.empPhone }}</td>
            <td>{{ emp.wages.wage }}</td>
        </tr>
    </table>
    <button (click)="addBtn()">Add</button>
    <div *ngIf="modeAdd || modeEdit">
        <form #form ="ngForm" (ngSubmit) = "onSubmit(form.value)">
            <label>Name </label><input type="text" name="name" value="{{ eName }}" ngModel>
            <label>Department </label><select name="depart" value="{{ eDepartment }}" ngModel><option *ngFor="let depart of departments">{{ depart.departName }}</option></select>
            <label>Phone </label><input type="text" value="{{ ePhone }}" name="phone" ngModel>
            <label>Wage </label><input type="text" value="{{ eWage }}" name="wage" ngModel>
            <button type="submit">Submit</button>
        </form>
    </div>
</main>


<!--constructor(public empId: number,-->
<!--public empName: string,-->
<!--public departId: number,-->
<!--public empPhone?: string,-->
<!--public wage?: Wage[]){-->
