
    <form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">

        <label>ID</label>
        <input type="text" formControlName="id">

        <label>Password</label>
        <input type="password" formControlName="password">

        <button type="submit">Submit</button>

    </form>

    <hr>
    <ul>
        <li><a [routerLink]="['home']">Schedule Management</a></li>
        <li><a [routerLink]="['pay']">Wage Management</a></li>
        <li><a [routerLink]="['setup']">Setup</a></li>
    </ul>
    <hr/>
    <div>
        <router-outlet></router-outlet>
    </div>
