<main>
    <h3>Department List</h3>
    <div>
        <form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">
            <input type="hidden" formControlName="dId">

            <label>Department Name </label>
            <input type="text" formControlName="dName">

            <label>Department </label>

            <label>Wage Ratio (%)</label>
            <input type="text" formControlName="dRatio">

            <button type="submit">Submit</button>
            <button type="button" (click)="clearInput()">Clear</button>
        </form>
    </div>
    <table>
        <tr *ngFor="let dep of departments" (click)="depBtn( dep )">
            <td>{{ dep.departName }}</td>
            <td>{{ dep.departRatio }}</td>
        </tr>
    </table>
</main>

