
<h3>Input Salary</h3>
<div>

    <form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">
        <datepicker formControlName="date" (sendDate)="dateChanged($event)" [expanded]="true" class="warning"></datepicker>
		<span *ngFor = "let val of zoneStr; let i = index">
			<label>{{ val }}</label>
			<input type="text" formControlName= "{{ zoneId[i] }}" >
		</span>
        <button type="submit">Submit</button>
        <button type="button" (click)="clearInput()">Clear</button>
        <button *ngIf ="editItem" type="button" (click)="deleteItem()">Remove Item</button>
    </form>
	<br>
    <table>
        <tr *ngFor="let dt of dailyT | mapToIterable" (click)="tipSelect( dt )">
            <td>{{ dt.key }}</td>
            <td *ngFor="let pt of dt.val | mapToIterable">{{ pt.val }}</td>
        </tr>
    </table>
</div>


