
<h3>Input Salary</h3>
<div>
    <form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">

        <datepicker formControlName="date" (sendDate)="dateChanged($event)" [expanded]="true" class="warning"></datepicker>

        <input *ngFor = "let key of timeZones | mapToIterable" formControlName="{{ key.key }}">
        <!--<tr *ngFor="let zone of timeZones | mapToIterable" (click)="zoneBtn( zone )">-->
            <!--<td>{{ zone.val.zoneName}}</td>-->
            <!--<td>{{ zone.val.startT.timeStr }}</td>-->
            <!--<td>{{ zone.val.endT.timeStr }}</td>-->
        <!--</tr>-->




        <!--<input type = "hidden" formControlName= "jobId">-->

        <!--<label>Name </label>-->
        <!--<select formControlName="name">-->
            <!--<option *ngFor="let employee of employees" value="{{ employee.empId }}">{{ employee.empName }}</option>-->
        <!--</select>-->


        <!--<label>Working Department </label>-->

        <!--<select formControlName="department">-->
            <!--<option *ngFor="let depart of departments">{{ depart.departName }}</option>-->
        <!--</select>-->

        <!--<label>Start Time </label>-->

        <!--<select formControlName="startT">-->
            <!--<option *ngFor="let time of timeTable">{{ time.timeStr }}</option>-->
        <!--</select>-->

        <!--<label>End Time </label>-->

        <!--<select formControlName="endT">-->
            <!--<option *ngFor="let time of timeTable">{{ time.timeStr }}</option>-->
        <!--</select>-->

        <!--<button type="submit">Submit</button>-->
        <!--<button type="button" (click)="clearInput()">Clear</button>-->
        <!--<button *ngIf ="editItem" type="button" (click)="deleteItem()">Remove Item</button>-->
    </form>
</div>
<br>

