
<script src="input.component.ts"></script><h3>Input Salary</h3>
<div>

    <form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">
        <datepicker formControlName="date" (sendDate)="dateChanged($event)" [expanded]="true" class="warning"></datepicker>
	    <label>View Option </label>
	    <select (change)="onChange($event.target.value)">
		    <!--<option *ngFor="let view of LIST_VIEW | mapToIterable" value="{{ view.key }}">{{ view.val }}</option>-->
		    <option *ngFor="let view of LIST_VIEW; let i = index" value ="{{ i }}">{{ view }}</option>
	    </select>
	    <hr>
	    <span *ngFor = "let val of zoneStr; let i = index">
			<label>{{ val }}</label>
			<input type="text" formControlName= "{{ zoneId[i] }}" >
		</span>
        <button type="submit">Submit</button>
        <button type="button" (click)="clearInput()">Clear</button>
        <button *ngIf ="editItem" type="button" (click)="deleteItem()">Remove Item</button>
    </form>
	<br>
    <table>
        <tr *ngFor="let dt of dailyTDisp | mapToIterable" (click)="tipSelect( dt )">
            <td>{{ dt.key }}</td>
            <td *ngFor="let pt of dt.val | mapToIterable">{{ pt.val }}</td>
        </tr>
    </table>
</div>


