<h3>Timezone Setup</h3>

<div>
	<form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">
		
		<label>TimeZone</label>
		<input type="hidden" formControlName="zoneId">
		<input type="text" formControlName="zoneName">

		<label>Start Time </label>

		<select formControlName="startT">
			<option *ngFor="let time of timeTable">{{ time.timeStr }}</option>
		</select>

		<label>End Time </label>

		<select formControlName="endT">
			<option *ngFor="let time of timeTable">{{ time.timeStr }}</option>
		</select>

		<button type="submit">Submit</button>
		<button type="button" (click)="clearInput()">Clear</button>
		<button *ngIf ="editItem" type="button" (click)="deleteItem()">Remove Item</button>
	</form>
	<table>
		<!--<tr *ngFor="let zone of timeZones | mapToIterable" (click)="zoneBtn( zone )">-->
			<!--<td>{{ zone.val.zoneName}}</td>-->
			<!--<td>{{ zone.val.startT.timeStr }}</td>-->
			<!--<td>{{ zone.val.endT.timeStr }}</td>-->
		<!--</tr>-->
		<tr *ngFor="let zone of timeZonesHistory | mapToIterable" (click)="zoneBtn( zone )">
			<span *ngIf="zone.val.valid">
				<td>{{ zone.val.zoneName}}</td>
				<td>{{ zone.val.startT.timeStr }}</td>
				<td>{{ zone.val.endT.timeStr }}</td>
			</span>
		</tr>
	</table>
</div>