<h1>Here is Timezone menu</h1>

<div>
	<form [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">
		<label>TimeZone</label>
		<input type="text" formControlName="zoneName">

		<label>Start Time </label>

		<select formControlName="startT">
			<option *ngFor="let time of timeTable">{{ time.timeStr }}</option>
		</select>

		<label>End Time </label>

		<select formControlName="endT">
			<option *ngFor="let time of timeTable">{{ time.timeStr }}</option>
		</select>


		<button type="submit">{{ btnName }}</button>
	</form>
	<table>
		<tr *ngFor="let zone of timeZones | mapToIterable" (click)="zoneBtn(zone.zoneName)">
			<!--<td><input type="radio" name="id" value="{{ emp.empId }}"></td>-->
			<td>{{ zone.val.zoneName}}</td>
			<td>{{ zone.val.startT.timeStr }}</td>
			<td>{{ zone.val.endT.timeStr }}</td>
		</tr>
	</table>
</div>